<footer>
  <p>
    <a href="{{ 'barghest/website' | prepend: site.data.bitbucket.base }}">Sources of this website</a>
  </p>
  <p>
    <a href="/license">Copyright (c) 2016, Kevin Gruber</a>
  </p>
</footer>
