<head>
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->

  <link rel="stylesheet" href="{{ "/stylesheets/default.css" | prepend: site.baseurl }}">
</head>
