<nav>
  {% assign pages = site.pages | sort:"menu.index" %}
  {% for p in pages %}
    {% if p.menu_entry %}
  <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">
    {{ p.menu_entry }}
  </a>
    {% endif %}
  {% endfor %}
</nav>
