/**
 * Site header
 */
header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
    color: $text-color;
}

header a {
    color: $text-color;
}

#site-title {
    font-size: $base-font-size * 1.85;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}
